.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
a{
  color: white;
}
.App-header {
  background-color: rgb(86, 86, 86);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Home-main {
  background-color: #dcdcdc;
  display: flex;
  width: 100vw;
  height: 100vh;
  color: black;
  align-content: space-between;
}
.Home-left {
  width: 20%; 
}
.Home-left > div {
  padding: 5px;
}
.Home-right {
  width: 80%;
  height: auto;
}
.Tasks-staff{

}
.Create-task-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Create-task-header > div{
  margin: 10px;
}
.Create-task-header {
  border-bottom: 2px solid gray;
}
.Create-task{
  background-color: rgb(217, 217, 217);
  margin: 5px;
  padding: 15px;
  width: 98%;
  height: 81vh;
}
.Tasks-staff-create{
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-weight: bold;
}
.Tasks-staff-create > div{
  margin: 8px;
  padding: 4px;
  background-color: rgb(168, 166, 166);
}
.Create-task-colums {
  display: flex;
  justify-content: space-around;
}
.Task-white {
  background-color: white;
  height: 89%;
  width: 100%;
}
.Create-task-left {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
}
.Create-task-right{
  display: flex;
  flex-direction: column; 
  width: 30%;
  padding: 10px;

}
.Header-Staff {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid gray;
}
.Header-Staff > div{
  padding: 10px;
}
.Create-task-left > input, .Create-task-right > input{
  border-top: 0px solid gray;
  border-left: 0px solid gray;
  border-right: 0px solid gray;
  border-bottom: 2px solid gray;
  margin: 20px;
  padding: 10px;
}
.Create-task-name {
  font-weight: bold;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h5{
    text-align: left;
    padding: 0px;
    margin: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
